Iteration - repeated operations

Iterabale - anything that supports iteration

ex : list,dict,tuples,set,string

In [2]:
# list comprehension
upper_limit = int(input("Enter the upper limit,ex 9 for 900"))

Enter the upper limit,ex 9 for 90012

In [10]:
mylist = list()
for i in range(1,upper_limit+1):
    mylist.append(i*100)

In [12]:
mylist2 = [i*100 for i in range(1,upper_limit+1)]
mylist2

[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200]

In [13]:
for i in mylist:
    print(i)

100
200
300
400
500
600
700
800
900
1000
1100
1200

In [15]:
students= ['satish','ashutosh','rakesh','mithun']

In [20]:
count = 1
for student in students:
    print(student+' is the student number '+str(count))
    count +=1

satish is the student number 1
ashutosh is the student number 2
rakesh is the student number 3
mithun is the student number 4

In [22]:
for count,student in enumerate(students):
    print(student+' is the student number '+str(count+1))

satish is the student number 1
ashutosh is the student number 2
rakesh is the student number 3
mithun is the student number 4

In [9]:
mylist

[1, 2, 3, 4, 5, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200]